@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 1em;
    box-sizing: border-box;
    max-height: max-content;
}

body{
    margin: 20px 150px 0px;
    max-width: 80%;
    background-color: black;
    font-family: "Poppins";
}

li, a, button{
    font-size: 18px;
    color: black;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 82px;
    background-color: #ff006f;
}

.logo{
    display: flex;
   margin-right: auto;
   align-items: center;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a:hover{
    color: black;
}

button{
    padding: 10px 20px;
    background-color: #ffb300;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    margin-left: 5px;

}

button:hover{
    background-color: #39619c;

}

@media (ax-width: 800px){
    li, a, button{
        font-size: 12px;
    }

}

.motivos{
    color: white;
}

p{
    color: white;
}

h1{
    color: #fff538;
    text-align: center;
}

footer {
    background-color: #ff006f;
    color: white;
    text-align: center;
}

.textobaixo{
    text-decoration: solid;
    text-transform: capitalize;
}